doctype html
head
	title gulp test
	link(rel='stylesheet' href='style/main.css')
body
	nav
		.container
			.logo logo
			ul
				li 
					a(href='#') Главная
				li 
					a(href='#') Контакты
				li 
					a(href='#') О Компании
				li 
					a(href='#') Каталог
				li 
					a(href='#') Посмотреть на Пече
				li 
					a(href='#') Заказать звонок
			.contacts contact
	header
		.container
			h1 This is compiled by Gulpfile.js
			h2 op op
