$grey_1= #333
$grey_wrap= #ccc
$grey_wrap2= #a0a0a0
$grey_bg= #f5f5f5
$grey_bg2= #f2f2f2


body
	margin 0
	font-size 1em
	font-family 'Open Sans', Arial, sans-serif
	background $grey_bg2
	color $grey_1 

.container
	margin 0 auto
	width 70%
	// background white //$grey_bg
	border .5px solid $grey_wrap2

a
	padding 15px
	text-decoration none
	color: #000
	&:first-child
		padding-left 0

nav
	background $grey_wrap
	.container
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items baseline
		ul
			margin 0
			padding 0
			display flex
			justify-content space-between
			flex-wrap wrap
			li
				margin-right 5px
				list-style none
				
		.logo
			margin 5px
			padding 10px
			width 10%
			height 20px
			background $grey_wrap2
			text-align center
		.contacts
			margin 5px
			padding 10px
			width 10%
			// height 100%
			background $grey_wrap2
			text-align center

h1, h2
	text-align center
