include ../plans/plans__form

mixin plans()
	+b.plans&attributes(attributes)
		+subtitle()
				| Какие у Вас планы на будущее?
		+description()
				| Этот ответ ни на что не повлияет. Не беда, если в будущем Ваши планы поменяются.ddd
		+plan(getData('plan-base'))