.plans
	&__form
		margin 20px 0 0 30px
	&__input
		display none
	&__input[type='radio']:checked + .plans__label:before
		size(27px, 29px)
		background-position -57px -7px
	&__label
		position relative
		margin-right 40px
		{$font_title}
	&__label:before
		position absolute
		top -2px
		left -30px
		size(27px, 29px)
		content ''
		background url(../images/sprites/icons.png)
		background-position -8px -7px