import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

// import('../blocks/**/*')

body, header, .container
	margin: 0 auto
	padding: 0
	font-size: 18px
body
	background: #797979
	font-family: 'PT Sans', sans-serif
.container
	width: 1000px
	background-image: url(../images/background-container.png)
	padding: 70px 117px 75px 114px

header
	height: 110px
.img-csssr-logo
	float: left
	position: relative
	width: 150px
	height: 100px
	&:before
		content: ''
		background: url(../../assets/images/logo-csssr.png) no-repeat center center
		position: absolute
		width: 150px
		height: 100px
	
.img-top-secret	
	float: right
	position: relative
	width: 280px
	height: 110px
	&:before
		content: ''
		background: url(../../assets/images/img-top-secret.png) no-repeat center center
		position: absolute
		width: 280px
		height: 110px
		left: 76px
	
.img-main-title
	position: relative
	height: 115px
	margin: 20px 240px 57px
	&:before
		content: ''
		background: url(../../assets/images/img-main-title.png) no-repeat center center
		position: absolute
		width: 220px
		height: 115px
	
.main-data
	&__wrap
		margin-bottom: 30px
		height: 33px
		position: relative
		display: flex
		justify-content: flex-start
		flex-direction: row
		background: url(../../assets/images/main-data__line.png) no-repeat
	&__title
		padding-right: 20px
		{$font_title}
		position: relative
		top: 7px
		background-image: url(../images/background-container.png)
	&__text
		float: left
		padding: 0 6px 0px 0
		display: inline-block
		position: relative	
		p
			padding-left: 15px
			padding-bottom: 14px
			{$p_courier}
			font-weight: 500
			
.skill-data
	&__title
		{$font_title}
		margin-top: 70px
		margin-bottom: 16px
	p
		{$font_p}
	&__form
		margin-top: 35px
		margin-left: 25px
		display: inline-block
		width: 100%
	&__block
		width: 32%
		float: left
		&__wrap
			margin-bottom: 15px
		&__label
			{$font_title}
			position: relative
		&__label:before
			content: ''
			background: url(../images/sprites/icons.png)
			background-position: -31px -51px
			width: 19px
			height: 20px
			position: absolute
			left: -25px
		&__input
			display: none
		&__input[type="checkbox"]:checked + .skill-data__block__label:before
			width: 19px
			height: 20px
			background-position: -2px -51px
#all
	position: relative
	top: 3px
#OK
	position: relative
	top: 6px
	
.js-bar
	&__title
		{$font_title}
		margin-top: 70px
		margin-bottom: 40px
	&__block
		padding-top: 15px
		display: inline-block
		position: relative
		width: 100%
	&__text
		padding-bottom: 14px
		font-size: 14px
		font-weight: 700
		width: 180px
		display: inline-block
		vertical-align: top
		position: absolute
	&__text__0
		left: 0	
	&__text__25
		left: 19%
	&__text__50
		left: 49%
	&__text__100
		left: 81%
	.ui-widget-content
		border: none
		height: 30px
		background: url(../../assets/images/js-bar--line.png) center center no-repeat
		background-position: -5px -25px		
	.ui-widget.ui-widget-content
		border: none
	.ui-widget-content .ui-state-default
		top: -0.8em // =) 
		background: url(../images/sprites/icons.png)
		background-position: -55px -53px
		border: none
		cursor: pointer

.plans
	&__title
		{$font_title}
		margin-top: 70px
		margin-bottom: 16px
	p
		{$font_p}
	&__form
		margin: 20px 0 0 30px
	&__input
		display: none
	&__input[type="radio"]:checked + .plans__label:before
		width: 27px
		height: 29px
		background-position: -57px -7px
	&__label
		{$font_title}
		position: relative
		margin-right: 40px
	&__label:before
		content: ''
		background: url(../images/sprites/icons.png)
		background-position: -8px -7px
		width: 27px
		height: 29px
		position: absolute
		left: -30px
		top: -2px
			
.about
	&__title
		{$font_title}
		margin-top: 70px 
		margin-bottom: 16px
	&__text
		p
			{$font_p}
	&__story
		margin-top: 5px
		background: url(../../assets/images/js-bar.png) 0 26px;
		background-position-x: -7px
		line-height: 60px
		p
			width: 100%
			margin-top: 25px
			padding-left: 7px
			{$p_courier}
.date
	&__wrap
		margin-top: 85px
		display: flex
		justify-content: flex-start
		flex-direction: row
	&__title
		{$font_title}
		margin-bottom: 16px
		position: relative
		top: 7px
	&__text
		margin-bottom: 30px
		height: 33px
		background: url(../../assets/images/main-data__line.png)
		padding: 0 16px
		p
			padding-bottom: 14px
			{$p_courier}
			font-weight: 500
