html, body {
  margin: 0;
  padding: 0;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg) no-repeat fixed;
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size: 100%;
	font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
/* header */
.header {
	padding: 30px 0;
}
.header h1 {
	font-weight: 600;
	font-size: 30px;
	color: #fff;
	text-align: left;
}
.nav li {
	display: inline;
	width: 100px;
	text-align: center;
	margin: 5px;
}

.nav-pills li a {
  color: #d8192f;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff;
}
/*main*/
.main img {
	width: 100%;
}
.thumbnail {
	border: 0px;
	border-radius: 0px;
	padding: 0;
}

.selected {
  border: 10px solid #f01251;
}
/*footer*/
.footer {
	padding: 40px 0;
	color: #444;
}
.footer ul {
	list-style: none;

}
.footer li {
	display: inline;
	margin-right: 40px;
}