doctype html
head
	title gulp test
	link(rel='stylesheet' href='style/main.css')
body
	.container
		include ../blocks/header/header
		include ../blocks/store-items/store-items
		include ../blocks/carousel/carousel
		.wrap__carousel_2
			.btn__wrap
				.btn Block 1
				.btn Block 2
				.btn Block 3
			include ../blocks/carousel_2/carousel_2
		h1 This is compiled by Gulpfile.js
		h2 op op
