@require '../blocks/carousel/carousel'
@require '../blocks/store-items/store-items'
@require '../blocks/carousel_2/carousel_2'

body
	font 1em, 'Open Sans', Arial, sans-serif
	bacground #f2f2f2
	color #333 

.container
	margin 0 auto
	width 85%
ul
	margin 0
	padding 0
	li
		display inline-block
		list-style none
		margin-right 20px
.wrap__carousel_2
	display: flex
	flex-direction: column
	.btn__wrap
		margin-top: 26px
		display: flex
		flex-direction: row
		justify-content: space-around
		.btn
			background-color: #0079D8
			color: #fff
			padding: 15px
			border-radius: 6px
			&:hover
				background-color: rgba(black, 0.5)