mixin about()
	+b.about&attributes(attributes)
		+subtitle()
			| Расскажите о себе словами
		+description()
			| Напишите пару предложений, чем Вас привлекла наша вакансия и чего Вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически
		.about__story
			p.courier.
				Так уж вышло, что все мои друзья - программисты (и уехали из страны :( ). В начале своего пути (март 2016) в голове не укладывалось, как в 28 лет, гуманитарию, можно научиться программировать? Упорство и регулярные тренировки сломали этот барьер. Всегда стараюсь делать работу качественно и усваиваю ошибки. Вижу себя front-end разработчиком, хочу научиться уверенно использовать JS.