mixin index()


	header
		nav
			.container
				.row
					.col-md-6
						ul.header-menu
							li
								a Каталог
							li
								a Каталог
							li
								a Каталог
							li
								a Каталог
							li
								a Каталог
					.col-md-5.col-md-offset-1.pull-right
						ul.nav-right
							li
								a Каталог
							li
								a Каталог
							li
								p <!-- телефонный номер -->

		nav.nav-search
			.container
				.row
					.col-md-12
						.img-logo
						form
							input
							button.btn.btn-big.header-favorite
							button.btn.btn-big.header-cart
	main
		.container
			.caruosel
		.content
			.container
				.row
					.col-md-3
						h3 Каталог
						.main-catalog
							a Альтернативная энергетика
							a Альтернативная энергетика
							a Альтернативная энергетика
							a Альтернативная энергетика
							a Альтернативная энергетика
							a Альтернативная энергетика
							a Альтернативная энергетика
							a Альтернативная энергетика
							a Альтернативная энергетика
							a Альтернативная энергетика
					.col-md-9
						h3 Популярное
						.content-good
							.row
								.col-md-4
									.thumbnail
										img
										.caption
											p
											button.btn.btn-mid.header-cart.pull-right
											h4 1120руб
								.col-md-4
									.thumbnail
										img
										.caption
											p
											button.btn.btn-mid.header-cart.pull-right
											h4 1120руб
								.col-md-4
									.thumbnail
										img
										.caption
											p
											button.btn.btn-mid.header-cart.pull-right
											h4 1120руб