.js-bar
	.ui-widget-content
		height 30px
		background url(../../assets/images/js-bar--line.png) no-repeat
		background-position -5px -25px
		background-size 100%	
		border none
	.ui-widget.ui-widget-content
		margin-top 40px
		border none
	.ui-widget-content .ui-state-default
		top -.8em // =) 
		cursor pointer
		background url(../images/sprites/icons.png)
		background-position -55px -53px
		border none

	&__block
		position relative
		padding-top 5px
	&__text
		position absolute
		width 200px
		font-size 14px
		font-weight 700
		&_0
			left 0	
		&_25
			left 19%
		&_50
			left 48%
		&_100
			left 80%
