.js-bar
	&__title
		{$margin_title}
		
	.ui-widget-content
		height 30px
		background url(../../assets/images/js-bar--line.png) center center no-repeat
		background-position -5px -25px		
		border none
	.ui-widget.ui-widget-content
		margin-top 40px
		border none
	.ui-widget-content .ui-state-default
		top -.8em // =) 
		cursor pointer
		background url(../images/sprites/icons.png)
		background-position -55px -53px
		border none

	&__block
		position relative
		padding-top 10px
	&__text
		position absolute
		width 200px
		font-size 14px
		font-weight 700
	&__text__0
		left 0	
	&__text__25
		left 19%
	&__text__50
		left 48%
	&__text__100
		left 79%
