mixin skill-bar()
	+b.js-bar&attributes(attributes)
		+subtitle()
			| Уровень владения JavaScript
		#slider
		+e.block
			+e.__text_0
				| Не владею
			+e.__text_25
				| Использую готовые решения
			+e.__text_50
				| Использую готовые решения и умею их переделывать
			+e.__text_100
				| Пишу сложный JS с нуля
