.js-bar
	.js-bar__title 
		h2.subtitle Уровень владения JavaScript
	#slider
	.js-bar__block
		.js-bar__text.js-bar__text__0
			p Не владею
		.js-bar__text.js-bar__text__25
			p Использую готовые решения
		.js-bar__text.js-bar__text__50
			p Использую готовые решения и умею их переделывать
		.js-bar__text.js-bar__text__100
			p Пишу сложный JS с нуля
