$p_courier =
	font-family: "Courier New", Courier, monospace
	font-size: 24px
	font-weight: 500
$font_title =
	font-size: 22px
	font-weight: 800
$font_p =
	font-size: 14px
	color: #3d3d3d
	line-height: 19px
	letter-spacing: 0.5px