header
	height 110px
.img-csssr-logo
	float left
	&:before
		position absolute
		width 150px
		height 100px
		content ''
		background url(../../assets/images/logo-csssr.png) no-repeat center center
	
.img-top-secret	
	position relative
	float right
	width 280px
	height 110px
	&:before
		position absolute
		left 76px
		width 280px
		height 110px
		content ''
		background url(../../assets/images/img-top-secret.png) no-repeat center center
	
.img-main-title
	margin 20px 240px 57px
	height 115px
	&:before
		position absolute
		width 220px
		height 115px
		content ''
		background url(../../assets/images/img-main-title.png) no-repeat center center