.carousel-store
	.carousel-inner-store
		input(class="carousel-open-store" type="radio" id="carousel-store-1" name="carousel-store" aria-hidden="true" hidden="" checked="checked")
		.carousel-item-store
			//- img(src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Egor Madyarov")
			.wrap
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Egor Madyarov")
					.caption
						p Lorem ipsum dolor sit ametw
						button.btn.btn-mid.pull-right
						h4 1 122$
				//- .thumbnail
				//- 	img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Egor Madyarov")
				//- 	.caption
				//- 		p Lorem ipsum dolor sit amet
				//- 		button.btn.btn-mid.pull-right
				//- 		h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Egor Madyarov")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Egor Madyarov")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$

		input(class="carousel-open-store" type="radio" id="carousel-store-2" name="carousel-store" aria-hidden="true" hidden="")
		.carousel-item-store
			.wrap
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Busya")
					.caption
						p Lorem ipsum dolor sit ametw
						button.btn.btn-mid.pull-right
						h4 1 122$
				//- .thumbnail
				//- 	img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Busya")
				//- 	.caption
				//- 		p Lorem ipsum dolor sit amet
				//- 		button.btn.btn-mid.pull-right
				//- 		h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Busya")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Busya")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$


		input(class="carousel-open-store" type="radio" id="carousel-store-3" name="carousel-store" aria-hidden="true" hidden="")
		.carousel-item-store
			.wrap
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Peche")
					.caption
						p Lorem ipsum dolor sit ametw
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Peche")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Peche")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Peche")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$


		input(class="carousel-open-store" type="radio" id="carousel-store-4" name="carousel-store" aria-hidden="true" hidden="")
		.carousel-item-store
			.wrap
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=CSS Carousel")
					.caption
						p Lorem ipsum dolor sit ametw
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=CSS Carousel")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=CSS Carousel")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=CSS Carousel")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$


		input(class="carousel-open-store" type="radio" id="carousel-store-5" name="carousel-store" aria-hidden="true" hidden="")
		.carousel-item-store
			.wrap
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Without JavaScript")
					.caption
						p Lorem ipsum dolor sit ametw
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Without JavaScript")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Without JavaScript")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$
				.thumbnail
					img(src="http://fakeimg.pl/200x100/0079D8/fff/?text=Without JavaScript")
					.caption
						p Lorem ipsum dolor sit amet
						button.btn.btn-mid.pull-right
						h4 1 122$



		label(for="carousel-store-5" class="carousel-control-store prev control-store-1") ‹
		label(for="carousel-store-2" class="carousel-control-store next control-store-1") ›
		label(for="carousel-store-1" class="carousel-control-store prev control-store-2") ‹
		label(for="carousel-store-3" class="carousel-control-store next control-store-2") ›
		label(for="carousel-store-2" class="carousel-control-store prev control-store-3") ‹
		label(for="carousel-store-4" class="carousel-control-store next control-store-3") ›
		label(for="carousel-store-3" class="carousel-control-store prev control-store-4") ‹
		label(for="carousel-store-5" class="carousel-control-store next control-store-4") ›
		label(for="carousel-store-4" class="carousel-control-store prev control-store-5") ‹
		label(for="carousel-store-1" class="carousel-control-store next control-store-5") ›
