include ../blocks/main-data/main-data
include ../blocks/skill-data__wrap/skill-data__wrap

head
	include ../blocks/head/head
	body
		.container
			header
				include ../blocks/header/header
			section
				.img-main-title
				.main-data
					+datas(getData('data'))
				include ../blocks/skill-data/skill-data
				include ../blocks/js-bar/js-bar
				include ../blocks/about/about
				include ../blocks/plans/plans
			footer
				include ../blocks/date/date
		script(src='assets/scripts/jquery-3.1.1.js')
		script(src='assets/scripts/jquery-ui.min.js')
		script(src='assets/scripts/app.min.js')
			