include ../blocks/section/section

include ../blocks/main-data/main-data
include ../blocks/skill-data/skill-data
include ../blocks/js-bar/js-bar
include ../blocks/about/about
include ../blocks/plans/plans



extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Resume George Madiarov';
