doctype html
head
	title gulp test
	link(rel='stylesheet' href='style/main.css')
body
	nav
		.container
			.wrap
				ul
					li
						a(href='#') Каталог
					li
						a(href='#') Доставка
					li
						a(href='#') Оптовикам
					li
						a(href='#') Контакты
				ul.nav-right
					li
						a(href='#') Вход
					li
						a(href='#') Регистрация
					li
						a(href='#') 8 800 111 22 34
	header
		.container
			.wrap
				.logo Logo
				form some input
				.button
					a(href='#') Button
	main
		.container
	footer
		.container

