doctype html
head
	title gulp test
	link(rel='stylesheet' href='style/main.css')
body
	nav
		.container
			.wrap
				ul
					li
						a(href='#') Каталог
					li
						a(href='#') Доставка
					li
						a(href='#') Оптовикам
					li
						a(href='#') Контакты
				ul.nav-right
					li
						a(href='#') Вход
					li
						a(href='#') Регистрация
					li
						a(href='#') 8 800 111 22 34
	header
		.container
			.wrap
				.logo Logo
				form
					input(type='text') 
					//- some input
					.button
						a(href='#') Button
				.button
					a(href='#') Button
	main
		.container
			.block__carousel
			.shop__content
				.catalog
					h2 Каталог
					.wrap
						.element 
							Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
						.element Lorem ipsumLorem ipsum ipsum
							span >
				.popular
					h2 Популярное
					.wrap
						.element
						.element
						.element
						.element
						.element
						.element

	footer
		.container
