.carousel
	.carousel-inner
		input(class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked")
		.carousel-item
			img(src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Egor Madyarov")
		input(class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="")
		.carousel-item
			img(src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Busya")
		input(class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="")
		.carousel-item
			img(src="http://fakeimg.pl/2000x800/F90/fff/?text=Peche")
		input(class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="")
		.carousel-item
			img(src="http://fakeimg.pl/2000x800/F90/fff/?text=CSS Carousel")
		input(class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="")
		.carousel-item
			img(src="http://fakeimg.pl/2000x800/F90/fff/?text=Without JavaScript")

		label(for="carousel-5" class="carousel-control prev control-1") ‹
		label(for="carousel-2" class="carousel-control next control-1") ›
		label(for="carousel-1" class="carousel-control prev control-2") ‹
		label(for="carousel-3" class="carousel-control next control-2") ›
		label(for="carousel-2" class="carousel-control prev control-3") ‹
		label(for="carousel-4" class="carousel-control next control-3") ›
		label(for="carousel-3" class="carousel-control prev control-4") ‹
		label(for="carousel-5" class="carousel-control next control-4") ›
		label(for="carousel-4" class="carousel-control prev control-5") ‹
		label(for="carousel-1" class="carousel-control next control-5") ›

		ol.carousel-indicators
			li
				label(for="carousel-1" class="carousel-bullet") •
			li
				label(for="carousel-2" class="carousel-bullet") •
			li
				label(for="carousel-3" class="carousel-bullet") •
