include ../skill-data__block/skill-data__block

.skill-data
	.skill-data__title 
		h2.subtitle Расскажите о себе чекбоксами
	.skill-data__text
		p.description.
			Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантированно будете справляться.
	.skill-data__form
		+skill-block()