.main-data
	&__wrap
		margin-bottom 30px
		height 33px
		{$background_line}
	&__title
		position relative
		top 7px
		padding-right 20px
		background-image url(../images/background-container.png)
		{$font_title}
	&__text
		display inline-block