<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="main2.css">
</head>
<body>
	<header>
		<div class="container">
			<span class="logo-company"></span>
			<nav>
				<ul>
					<li><a href="">Новости</a></li>
					<li><a href="">Афиша</a></li>
					<li><a href="">Погода</a></li>
					<li><a href="">Покупки</a></li>
					<li><a href="">Валюта</a></li>
					<li><a href="">Туризм</a></li>
					<li><a href="">Обед</a></li>
					<li><a href="">Недвижимость</a></li>
					<li><a href="">Конкурсы</a></li>
				</ul>
			</nav>
			<div class="login">
				<div class="login-image"></div>
				<button></button>
			</div>
		</div>
	</header>
	
</body>
</html>