include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected

include ../container/container
include ../header/header
include ../footer/footer

include ../description/description
include ../subtitle/subtitle
include ../courier/courier
include ../title/title

doctype html
html(lang='ru')
	include ../head/head
	body
		+container
			+header
			+section
				+main-data
				+skill-data
				+skill-bar
				+about
				+plans
			+footer
		
		script(src='assets/scripts/app.min.js')
